%header.header
  .inner.cf
    %h1.ttl_h
      = link_to "#" ,class: "logo" do
        %span
          You_know
    %ul
      %li
        %span.login
          = link_to "#" do
            lohin
      %li
        %span.logout
          = link_to "#" do
            logout